*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 12vh;;
    width: 100%;
    background-color: red;
    color: white;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo{
    margin: 0 2vw;
    font-size: 1.4rem;
}
header nav .btn{
    margin: 0 2vw;
}
nav .menu-btn i{
    font-size: 1.5rem;
    margin-top: 1vh;
    display: none;
    cursor: pointer;
}
header nav .btn button{
    outline: none;
    height: 8vh;
    width: 15vw;
    font-size: 1.1rem;
    background-color: gold;
    color: white;
    border-radius: 3px;
    font-weight: bolder;
}
header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
header nav ul li{
    text-decoration: none;
    margin: 4vh 1vw;
    font-size: 1.3rem;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    
}
header nav ul li a:hover{
    color: yellow;
    transition-delay: 0.1;
}
#click{
    display: none;
}
.imgslider{
    background-image: url("media/stories01.jpg");
    width: 97vw;
    height: 85vh;
    position: relative;
    top: 0%;
    left: 1%;
    background-size: 100% 100%;
    margin: 1vh 6vw 2em 0;
   box-shadow: 3px 5px 1px 2px grey;
  border-radius: 3px;
  animation:slider 18s infinite linear;
}
@keyframes slider{
  0%{
      background-image: url("media/stories01.jpg");
  }
  16.67%{
      background-image: url("media/stories02.jpg");
  }
  33.33%{
      background-image: url("media/stories03.jpg");
  }
  50%{
      background-image: url("media/stories04.jpg");
  }
  66.67%{
      background-image: url("media/stories05.jpg");
  }
  100%{
      background-image: url("media/stories04.jpg");
  }
}
.heading{
    text-align: center;
    text-shadow: 2%;
    margin: 0.5vh 0 2vh 0;
    font-size: xx-large;
}
.container{
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    left: 5%;
}
.card{
    width: 23.7rem;
    background-color: rgba(255, 246, 231, 0.301);
    margin: 1.5rem;
    box-shadow: 1px 2px 3px 0px grey;
    border-radius: 9px;
}
.card img{
    max-width: 100%;
    border-radius: 9px 9px 0 0;
}
.card_body {
    padding: 10px 20px;
}
.card_body p{
    color: rgb(59, 59, 59);
    font-weight: bolder;
}
.card_body h2{
    color: black;
    font-weight: bold;
    margin-bottom: 1em;
}
.card_body button{
    outline: none;
    padding: 10px 15px;
    font-weight: bolder;
    margin-top: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
#more1, #more2,#more3,#more4,#more5,#more6,#more7,#more8,#more9{
    display: none;
}
.card:hover{
    transform: translate(-1%, -1%);
}
.card img:hover{
    transform: scale(1.02);

}
.card_body button:hover{
    color: white;
    background-color: grey;
}
.page{
    display: flex;
    justify-content: center;
}
.page ul{
    list-style: none;
    margin-bottom: 10px;
}
.page ul li{
    display: inline;
    margin: 10px 10px;
}
@media (max-width: 948px){
    .card{
        width: 90%;
    }
    .card img{
        width: 100%;
    }
}
@media (max-width: 690px){
    header nav ul{
        position: fixed;
        top: 12vh;
        left: -100%;
        background-color: red;
        width: 100%;
        height: 100vh;
        text-align: center;
        z-index: 2;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0;
    }
    header nav ul li{
        margin: 10vh 0;
        font-size: 1.4em;
    }
    nav .menu-btn i{
        display: block;
        margin-left: 3vw;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    header nav .logo, header nav .menu-btn i, header nav .btn{
        margin-top: 2vh;
    }
    header nav .btn button{
        width: 20vw;
        border-radius: 9px;
    }
}